@model WebHecsa.Models.TblClienteContacto

@{
    ViewData["Title"] = "Detalles Cliente Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Cliente</li>
        <li class="breadcrumb-item">Control de Cliente</li>
        <li class="breadcrumb-item active" aria-current="page">Detalles Cliente Contacto</li>
    </ol>
</nav>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreClienteContacto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreClienteContacto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoMovil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefonoMovil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreClienteContacto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreClienteContacto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstatusRegistro)
        </dt>
        <dd class="col-sm-10">

            @if (Model.IdEstatusRegistro == 1)
            {
                <i class="fas fa-check" style="font-size: 1em; color: green;"></i>
            }
            else
            {
                <i class="fas fa-stop-circle" style="font-size: 1em; color: red;"></i>
            }
        </dd>
    </dl>
</div>
<div class="form-group">
    <a asp-action="Index" class="btn btn-info">Regresar</a>
</div>

