@model IEnumerable<WebHecsa.Models.CatProducto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoInterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoExterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMarca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadMinima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductoPrecioUno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PorcentajePrecioUno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCosto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstatusRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaNavigationIdCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoInterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoExterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadMinima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoPrecioUno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PorcentajePrecioUno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCosto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstatusRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaNavigationIdCategoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProducto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProducto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProducto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
