@model WebHecsa.Models.TblEmpresaFiscal

@{
    ViewData["Title"] = "Desactivar Fiscales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item">Información</li>
    <li class="breadcrumb-item">Empresa</li>
    <li class="breadcrumb-item">Control de Empresa</li>
    <li class="breadcrumb-item active" aria-current="page">Desactivar Empresa Fiscales</li>
  </ol>
</nav>
<hr />
<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreFiscal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreFiscal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rfc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rfc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegimenFiscal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegimenFiscal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colonia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colonia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalidadMunicipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalidadMunicipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
    
<form asp-action="Delete">
        <input type="hidden" asp-for="IdEmpresaFiscales" />
        <input type="submit" value="Desactivar" class="btn btn-danger" /> 
          <a asp-action="Index" class="btn btn-secondary">Regresar</a> 
    </form>
</div>