@model WebHecsa.Models.TblCotizacionGeneral

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblCotizacionGeneral</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCotizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCotizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpresaFiscales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpresaFiscales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreFiscal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreFiscal)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCotizacionGeneral">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
