@model WebHecsa.Models.CatCodigosPostale

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CatCodigosPostale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dcodigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dcodigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dasenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dasenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtipoAsenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtipoAsenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dmnpio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dmnpio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dcp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dcp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cestado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cestado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coficina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coficina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ccp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ccp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CtipoAsenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CtipoAsenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cmnpio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cmnpio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsentaCpcons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAsentaCpcons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dzona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dzona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CcveCiudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CcveCiudad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCodigosPostales">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
