@model WebHecsa.Models.CatTipoDireccion

@{
    ViewData["Title"] = "Desactivar Tipos Direcciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">HECSA</li>
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Catálogos</li>
        <li class="breadcrumb-item">Tipos Direcciones</li>
        <li class="breadcrumb-item">Control de Tipos Direcciones</li>
        <li class="breadcrumb-item active" aria-current="page">Desactivar Tipos Direcciones</li>
    </ol>
</nav>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDireccionDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoDireccionDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstatusRegistro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEstatusRegistro)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input style="text-transform:uppercase" type="hidden" asp-for="IdTipoDireccion" />
        <input style="text-transform:uppercase" type="submit" value="Desactivar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </form>
</div>
