@model IEnumerable<WebHecsa.Models.CatEstatus>
@*@model WebHecsa.Models.CatEstatus*@

@{
    ViewData["Title"] = "Estatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">HECSA</li>
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Catálogos</li>
        <li class="breadcrumb-item">Estatus</li>
        <li class="breadcrumb-item active" aria-current="page">Control de Estatus</li>
    </ol>
</nav>
<p>
    <a type="submit" class="btn btn-outline-primary" asp-action="Create" value="Nuevo" title="Nuevo"><i class="fas fa-plus"></i> Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.EstatusDesc)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.IdEstatusRegistro)
            </th>
            <th style="text-align:center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.EstatusDesc)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td style="text-align:center">
                    @if (item.IdEstatusRegistro == 1)
                    {
                        <i class="fas fa-check-circle" style="font-size: 1em; color: green;"></i>
                    }
                    else
                    {
                        <i class="fas fa-stop-circle" style="font-size: 1em; color: red;"></i>
                    }
                </td>
                <td style="text-align:center">
                    <a asp-action="Edit" asp-route-id="@item.IdEstatusRegistro" class="btn btn-outline-secondary" title="Editar"><i class="far fa-edit" style="font-size: 1em; color: #FFC300;"></i></a>
                    <a asp-action="Details" asp-route-id="@item.IdEstatusRegistro" class="btn btn-outline-secondary" title="Detalles"><i class="far fa-list-alt" style="font-size: 1em; color: #67C5C4 ;"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.IdEstatusRegistro" class="btn btn-outline-secondary" title="Desactivar"><i class="far fa-stop-circle" style="font-size: 1em; color: #FF9333;"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
    Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form type="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <dl class="row">
                                <div class="form-group">
                                    <label asp-for="EstatusDesc" class="control-label"></label>
                                    <input style="text-transform:uppercase" asp-for="EstatusDesc" class="form-control" />
                                    <span asp-validation-for="EstatusDesc" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IdEstatusRegistro" class="control-label"></label>
                                    <select id="idEstatusLista" class="form-select" asp-for="IdEstatusRegistro" asp-items="@(new SelectList(ViewBag.ListaCatEstatus,"IdEstatusRegistro","EstatusDesc"))">
                                        <option value="">Seleccionar Estatus</option>
                                    </select>
                                    <span asp-validation-for="IdEstatusRegistro" class="text-danger"></span>
                                </div>
                            </dl>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>*@
@*@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script type="text/javascript">
          $(document).ready(function() {
              loadDataTable();
          });

          function loadDataTable()
          {
          datatable = $("#tblEstatus").DataTable(
          {"ajax": {
          "url":""},
          "Columns":[
          {"data":"EstatusDesc"}
          ]
          
          }


          );
          }
</script>
}*@