@model IEnumerable<WebHecsa.Models.TblUsuario>

@{
    ViewData["Title"] = "Crear Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Usuarios</li>
        <li class="breadcrumb-item active" aria-current="page">Crear Usuarios</li>
    </ol>
</nav>
<p>
    <a id="iNuevo" type="submit" class="btn btn-outline-primary" asp-action="Create" value="Nuevo" title="Nuevo"><i class="fas fa-plus"></i> Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.ApellidoPaterno)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.ApellidoMaterno)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.IdEstatusRegistro)
            </th>
            <th style="text-align:center">Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
             <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
            </td>
             <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
             <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
             <td style="text-align:center">
                        @if (item.IdEstatusRegistro == 1)
                    {
                        <i class="fas fa-check-circle" style="font-size: 1em; color: green;"></i>
                    }
                    else
                    {
                        <i class="fas fa-stop-circle" style="font-size: 1em; color: red;"></i>
                    }
            </td>
            <td style="text-align:center">
                    <a asp-action="Edit" asp-route-id="@item.IdUsuario" class="btn btn-outline-secondary" title="Editar"><i class="far fa-edit" style="font-size: 1em; color: #FFC300;"></i></a>
                    <a asp-action="Details" asp-route-id="@item.IdUsuario" class="btn btn-outline-secondary" title="Detalles"><i class="far fa-list-alt" style="font-size: 1em; color: #67C5C4 ;"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.IdUsuario" class="btn btn-outline-secondary" title="Desactivar"><i class="far fa-stop-circle" style="font-size: 1em; color: #FF9333;"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script type="text/javascript">
    $(document).ready(function() {

        $('#tblProductos').DataTable();

           var vEstatusFlag = '@ViewBag.EstatusFlag'
           var vEmpresaFlag = '@ViewBag.EmpresaFlag'
           var vGeneroFlag = '@ViewBag.GeneroFlag'
           var vAreaFlag = '@ViewBag.AreaFlag'
           var vPerfilFlag = '@ViewBag.PerfilFlag'
           var vRolFlag = '@ViewBag.RolFlag'

         if (vEstatusFlag == 0)
         {
         document.getElementById("iNuevo").style.visibility="hidden";
         }
         else
         {
             if (vEmpresaFlag == 0)
             {
             document.getElementById("iNuevo").style.visibility="hidden";
             }
             else
             {
                 if (vGeneroFlag == 0)
                 {
                 document.getElementById("iNuevo").style.visibility="hidden";
                 }
                 else
                 {
                     if (vAreaFlag == 0)
                     {
                     document.getElementById("iNuevo").style.visibility="hidden";
                     }
                     else
                     {
                         if (vPerfilFlag == 0)
                         {
                         document.getElementById("iNuevo").style.visibility="hidden";
                         }
                         else
                         {
                             if (vRolFlag == 0)
                             {
                             document.getElementById("iNuevo").style.visibility="hidden";
                             }
                             else
                             {
                             document.getElementById("iNuevo").style.visibility="visible";
                             }
                         }
                     }
                 }
             }
         }
       });
</script>
}